.audioContainer {
  width: 50%;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  padding: 10px;
  text-align: center;
}

.dark {
  border: 1px solid #fff;
}

.audioPlayer {
  width: 100%;
}

.embedContainer {
  width: 100%;
  padding: 10px 0;
}

:global(.rhap_container) {
  box-shadow: none;
  background-color: transparent;
}

:global(.rhap_time) {
  color: #fff;
  mix-blend-mode: difference;
}

:global(.rhap_additional-controls),
:global(.rhap_volume-controls) {
  display: none;
}

:global(.rhap_controls-section) {
  flex: none;
}

:global(.rhap_main-controls-button) {
  color: #fff;
  mix-blend-mode: difference;
}

@media screen and (max-width: 920px) {
  .audioContainer {
    width: calc(100% - 40px);
    margin: 20px;
  }
}
