.productContainer {
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
}

.productCard {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 33.3vw;
  height: calc(33.3vw * 1.5);
  overflow: hidden;
  justify-content: flex-end;
}

.image {
  position: absolute !important;
  min-width: 100%;
  min-height: 100%;
}

.productInfoContainer {
  position: relative;
  z-index: 10;
  margin-left: 10px;
  margin-bottom: 10px;
}

.productInfo {
  font-size: calc(0.75rem + 1vw);
  font-weight: 700;
}

.productInfo span {
  color: #fff;
  background: #000;
  padding: 0 10px;
}

@media screen and (max-width: 920px) {
  .productContainer {
  padding-top: 160px;
}

  .productCard {
    width: 50vw;
    height: calc(50vw * 1.5);
  }
}

@media screen and (max-width: 100px) {
  .productCard {
    width: 100vw;
    height: calc(100vw * 1.5);
  }
}
