.creditContainer {
  width: fit-content;
  max-width: 50%;
  margin: 20px auto;
}

.creditContainer a {
  text-decoration: underline;
}

.creditContainer p,
.creditContainer li {
  font-size: 0.5rem;
}

.anchor {
  display: block;
  height: 50px;
  margin-top: -50px;
  visibility: hidden;
}

@media screen and (max-width: 920px) {
  .creditContainer {
    max-width: 100%;
    padding: 20px;
  }

  .creditContainer p {
    font-size: 0.75rem;
  }

  .anchor {
    display: block;
    height: 100px;
    margin-top: -100px;
    visibility: hidden;
  }
}
