.emailInput {
  background: none;
  border: 1px solid #fff;
  padding: 8px 12px;
  width: 100%;
  margin-top: 16px;
  font-size: 20px;
  color: #fff;
  text-align: left;
}

.emailSubmit {
  background: none;
  border: 1px solid #fff;
  padding: 8px 12px;
  width: 100%;
  margin-top: 16px;
  font-size: 20px;
  color: #fff;
  text-align: left;
}

.emailSubmit:hover {
  background: #fff;
  color: #000;
  opacity: 100%;
}

.form {
 position: relative;
}

.message {
 position: absolute;
 top: 16px;
 height: 110%;
 width: 110%;
 padding-left: 10%;
 margin-left: -10%;
 background: #000;
}