footer {
  position: relative;
  font-size: 20px;
  color: #fff;
  background: #000;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.socialLinkContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.footerTagline {
  width: 100%;
  margin: 80px 0 200px 0;
  text-transform: uppercase;
  text-align: center;
  font-size: calc(20px + 4.5vw);
}

.footerMenu {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

.hoursLocationDesktop {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 20%;
}

.hoursLocationMobile {
  display: none;
}

.footerPageLinks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 190px;
  width: 35%;
}

.footerPageLinks a {
  margin-right: 10px;
}

.footerFormContainer {
  width: 20%;
}

.emailInput {
  background: none;
  border: 1px solid #fff;
  padding: 8px 12px;
  width: 100%;
  margin-top: 16px;
  font-size: 20px;
  color: #fff;
  text-align: left;
}

.emailSubmit {
  background: none;
  border: 1px solid #fff;
  padding: 8px 12px;
  width: 100%;
  margin-top: 16px;
  font-size: 20px;
  color: #fff;
  text-align: left;
}

.emailSubmit:hover {
  background: #fff;
  color: #000;
  opacity: 100%;
}

.footerIconContainer {
  height: auto;
  width: 20%;
}

.footerCredit {
  font-weight: 700;
  font-size: 12px;
  margin-top: 80px;
}

@media screen and (max-width: 1135px) {
  .hoursLocationMobile {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .hoursLocationDesktop {
    display: none;
  }

  .footerFormContainer,
  .hoursLocationMobile,
  .footerPageLinks {
    width: 50%;
    margin-bottom: 60px;
  }

  .footerTagline {
    margin-bottom: 60px;
  }

  .footerIconContainer {
    width: 33%;
  }
}

@media screen and (max-width: 699px) {
  footer {
    font-size: 14px;
  }
  .footerFormContainer,
  .footerPageLinks {
    width: 100%;
    height: 130px;
  }

  .socialLinkContainer {
    font-size: 12px;
  }

  .footerPageLinks {
    margin-bottom: 40px;
  }

  .hoursLocationMobile {
    width: 60%;
    margin-bottom: 0;
  }

  .footerIconContainer {
    width: 33%;
  }

  .footerCredit {
    margin-top: 40px;
  }
}
