.videoPlayerWrapperFull {
  position: relative;
  aspect-ratio: 16 / 9;
  margin: 40px 0 80px 0;
}

.videoPlayer iframe {
  width: 100%;
  height: 100%;
}

.videoPlayerWrapper {
  position: relative;
  aspect-ratio: 16 / 9;
  width: 50%;
  margin: 40px auto 80px auto;
}

.videoPlayer {
  position: absolute;
  top: 0;
  left: 0;
}

.videoCredit {
  position: absolute;
  top: 100%;
  font-family: "trade-gothic-next", sans-serif;
}

.videoPlayerWrapper .videoCredit {
  padding-left: 0;
}

@media screen and (max-width: 920px) {
  .videoPlayerWrapper {
    width: 100%;
  }

  .videoPlayerWrapper .videoCredit {
    padding-left: 20px;
  }
}
