#navIcon {
  width: 22px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#navIcon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #000;
  opacity: 1;
  left: 0;
  top: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#navIcon span:nth-child(1) {
  top: 6px;
}

#navIcon span:nth-child(2),
#navIcon span:nth-child(3) {
  top: 14px;
}

#navIcon span:nth-child(4) {
  top: 22px;
}

#navIcon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#navIcon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#navIcon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#navIcon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.hide {
  transform: translateY(-150%);
  transition: all 700ms;
}

.show {
  transform: translateY(0);
  transition: all 700ms;
}

.header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  z-index: 100;
}

.menu {
  width: 260px;
}

.menuHeader {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  padding: 0 15px;
  height: 50px;
  z-index: 110;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #000;
  background-color: #fff;
}

.navPageLinks {
  z-index: 100;
  position: fixed;
  background-color: #fff;
  top: 50px;
  width: 260px;
  left: 0;
  display: flex;
  flex-direction: column;
  transition: all 700ms;
  overflow-y: scroll;
  max-height: calc(100vh - 50px);
}

.navPageSingleLink {
  border: 1px solid #000;
  border-top: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15px;
  font-size: 30px;
}

.headerTagline {
  position: fixed;
  z-index: 20;
  left: 260px;
  top: 0;
  font-size: 30px;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  width: calc(100% - 260px);
  mix-blend-mode: difference;
  color: #fff;
}

.onMindHeader,
.onFileHeader {
  justify-content: space-between;
}

.headerDate {
  display: block;
  font-size: 26px;
  padding-right: 10px;
}

.headerSearch {
  color: #fff;
  font-size: 18px;
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.headerSearchIcon {
  height: 15px;
  width: 15px;
  margin-left: 8px;
}

.onMindHeader span {
  font-size: 26px;
}

.navPageSingleLink p {
  font-family: "trade-gothic-next", sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
}

.homeButton {
  font-size: 30px;
}

.secondaryLinks {
  display: flex;
  flex-direction: column;
  height: 190px;
  justify-content: center;
  border: 1px solid #000;
  border-top: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.secondarySingleLink {
  display: block;
  font-size: 26px;
  padding: 0 15px;
}

.searchLink,
.ticketsLink {
  height: 50px;
  font-size: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  border: 1px solid #000;
  border-top: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.ticketsLink {
  border-bottom: 1px solid #000;
}

.aboutTagline {
  height: auto;
}

@media screen and (max-width: 920px) {
  .menuHeader,
  .navPageLinks {
    width: 100%;
  }

  .headerTagline,
  .onMindHeader span {
    top: 50px;
    left: 0;
    font-size: calc(1rem + 1vw);
    width: 100%;
    padding: 10px 20px;
    height: auto;
  }

  .onMindHeader span {
    padding: 10px 0px;
  }

  .headerDate {
    font-size: 1rem;
    padding: 0;
  }

  .onAirTagline {
    display: none;
  }

  .onFileHeader {
    flex-direction: column-reverse;
    gap: 10px;
    align-items: flex-start;
    mix-blend-mode: normal;
  }

  .onFileHeader div {
    mix-blend-mode: difference;
  }

  .headerSearch {
    border: 1px solid #fff;
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-top: -10px;
    height: 50px;
    padding-left: 20px;
    background-color: #000;
  }

  .noDisplay {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .headerDate {
    display: none;
  }
}
