figcaption {
  font-size: 0.5rem;
  padding: 10px 20px;
}

.heroImage {
  width: 100%;
  aspect-ratio: 2.5 / 1;
}

.marginTop {
  margin-top: 100px;
}

@media screen and (max-width: 920px) {
  .mobileMarginTop {
    margin-top: 100px;
  }

  figure {
    position: relative;
  }

  figcaption {
    padding: 10px 20px;
  }
}

