.container {
  display: flex;
  padding: 20px;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.reverse {
  flex-direction: row-reverse;
}

.images {
  display: flex;
  gap: 10px;
  width: calc(50% - 20px);
}

.images figcaption {
  padding-left: 0;
}

.text {
  width: calc(50% - 20px);
}

@media screen and (max-width: 920px) {
  .images figcaption {
    position: relative;
    margin-top: 0;
  }
}

@media screen and (max-width: 700px) {
  .container,
  .reverse {
    flex-direction: column;
  }
  .images,
  .text {
    width: 100%;
  }
}
