.linkButton {
  display: flex;
  padding: 5px 10px;
  border: solid 1px #000;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  font-size: inherit;
}

.linkButton:hover {
  opacity: 1;
  color: #fff;
  background: #000;
}

.onFile {
  border: 1px solid #fff;
  margin-bottom: 20px;
}

.onFile:hover {
  opacity: 1;
  color: #000;
  background: #fff;
}

@media screen and (max-width: 920px) {
  .linkButton {
    padding: 5px 20px;
    flex-grow: 1;
    min-width: 50%;
  }
}
