.text {
 width: 15vw;
 position: relative;
 left: calc(1.5rem + 1vw);
 top: -1.5rem;
}

.markerIcon {
  font-size: calc(1rem + 1vw);
  position: absolute;
  bottom: 0;
}

.heading {
 font-weight: bold;
}

.tagline {
 font-size: 0.75rem;
}
