.carouselContainer {
  padding: 20px;
  cursor: none;
  position: relative;
}

.carouselContainer figcaption {
  font-family: "trade-gothic-next", sans-serif;
  padding: 10px 0;
}

.cursor {
  position: fixed;
  height: 20px;
  width: 60px;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
}

.dotsContainer {
  position: absolute;
  height: 20px;
  bottom: 80px;
  right: 20px;
}

.dots {
  height: clamp(10px, 2vw, 20px);
  width: clamp(10px, 2vw, 20px);
  background: #fff;
  border: 1px solid #000;
  border-radius: 100%;
}

:global(.slick-active) .dots {
  background: #000;
  border: 1px solid #fff;
}

@media screen and (max-width: 700px) {
  .carouselContainer {
    cursor: inherit;
  }
}
