.videoPlayerWrapper {
  position: relative;
  padding-top: 56.25%;
  width: 100vw;
  height: 100vh;
  background: #000;
  overflow: hidden;
}

.videoWrapperLive {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #000;
  overflow: hidden;
}

.videoPlayer {
  position: absolute;
  top: 0;
  left: 0;
}

.videoPlayer iframe {
  height: 100% !important;
  width: 100% !important;
}

.videoPlayerLive {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.videoPlayerLive iframe {
  height: 100vh !important;
  width: 100vw !important;
}

.videoControlsContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.videoControls {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 50;
  background: #fff;
  height: 50px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 20px;
  border: 1px solid #000;
}

.liveVideoControls {
  display: none;
}

.desktopTitle {
  position: fixed;
  display: flex;
  min-height: 50px;
  align-items: center;
  font-size: 24px;
  bottom: 0;
  left: 280px;
  z-index: 100;
  color: #fff;
  mix-blend-mode: difference;
}

.mobileHeading {
  display: none;
}

.desktopLiveTitle {
  color: #fff;
  position: absolute;
  height: 50px;
  display: flex;
  align-items: center;
  left: 375px;
  z-index: 1000;
}

.recording {
  display: inline-block;
  height: 0.85rem;
  width: 0.85rem;
  background: red;
  border-radius: 100%;
  margin: 0 0.5rem;
  box-shadow: 0 0 0 0 rgba(255, 0, 0, 1);
  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}

@media screen and (max-width: 920px) {
  .mobileHeading {
    display: block;
    position: absolute;
    font-size: 20px;
    top: 70px;
    left: 20px;
    color: #fff;
    z-index: 10;
    text-transform: uppercase;
  }

  .mobileVideoTitle {
    display: inline;
    text-transform: none;
  }

  .desktopTitle {
    display: none;
  }

  .videoControls {
    background: #fff;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0;
    padding-left: 30px;
  }

  .videoPlayerWrapper {
    height: calc(100vh - 50px);
  }

  .desktopLiveTitle {
    display: none;
  }

  .videoPlayerLive {
    top: 50px;
  }

  .videoPlayerLive iframe {
  height: calc(100vh - 100px) !important;
  width: 100vw !important;
}
}
