.container {
  background: #000;
  color: #fff;
  padding: 80px 20px;
}

.container h2 {
  margin-bottom: 20px;
}

.introText {
  margin-bottom: 20px;
}

.previewContainer {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
