.container {
  background: #000;
  color: #fff;
  padding: 20px;
}

.heading {
  margin-bottom: 20px;
}

.yearBoxContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.yearBox {
  border: 1px solid #fff;
  width: calc(33% - 10px);
  aspect-ratio: 2 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-size: calc(1rem + 2vw);
  color: transparent;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 1px;
  cursor: pointer;
  transition: all 400ms;
}

.yearBox:hover {
  background: #fff;
  color: #000;
  -webkit-text-stroke-color: #000;
  opacity: 1;
}

.shuffle {
  width: 100%;
  border: 1px solid #fff;
  cursor: pointer;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-size: 20vw;
  letter-spacing: 1vw;
  transition: all 400ms;
}

.shuffle:hover {
  background: #fff;
  color: #000;
  opacity: 1 !important;
  transition: all 400ms;
}

@media screen and (max-width: 920px) {
  .yearBox {
    width: calc(50% - 5px);
    padding-left: 0;
    justify-content: center;
    aspect-ratio: 2 / 1;
    margin-bottom: 10px;
  }

  .shuffle {
    margin-top: 10px;
    font-size: 18vw;
    letter-spacing: 1vw;
  }
}
