.inputsContainer {
  background: #000;
  color: #fff;
  padding-top: 50px;
  font-family: "trade-gothic-ext", sans-serif;
  text-transform: uppercase;
}

.searchLabel {
  display: flex;
  height: 80px;
  align-items: center;
  font-size: calc(1rem + 1vw);
  border: 1px solid #fff;
  border-left: none;
  padding-left: 20px;
}

.searchInput {
  height: 80px;
  font-size: calc(0.5rem + 1vw);
  margin-left: 80px;
  flex-grow: 1;
  border: 1px solid #fff;
  border-right: none;
  padding-left: 20px;
  background: #000;
  color: #fff;
  text-transform: uppercase;
}

.searchButtons {
  display: flex;
  padding: 20px;
  justify-content: space-evenly;
  gap: 20px;
  flex-wrap: wrap;
  border-bottom: 1px solid #fff;
  transition: all 400ms;
}

.searchButtons button {
  color: transparent;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 1px;
  font-size: calc(1rem + 1vw);
  font-family: "trade-gothic-ext", sans-serif;
  transition: all 400ms;
}

.searchButtons button:hover {
  color: #fff;
  opacity: 1;
  transition: all 400ms;
}

.previewRow {
  display: flex;
  padding: 20px;
  align-items: flex-start;
  border-bottom: 1px solid #fff;
  flex-wrap: wrap;
  gap: 20px;
}

.previewImg {
  width: calc(30% - 13px);
  aspect-ratio: 1.5 / 1;
}

.previewText {
  font-size: 0.75rem;
  width: calc(45% - 13px);
}

.previewInfo {
  width: calc(25% - 14px);
}

.previewInfo p {
  margin-bottom: 20px;
}

.viewBtn {
  border: 1px solid #fff;
  border-radius: 400px;
  display: inline-block;
  padding: 8px 35px;
  font-size: 0.75rem;
  transition: all 400ms;
}

.viewBtn:hover {
  opacity: 1;
  background: #fff;
  color: #000;
}

.active {
  color: #fff !important;
}

.dropDownButtonContainer {
  height: 0;
  overflow: hidden;
}

@media screen and (max-width: 920px) {
  .inputsContainer {
    padding-top: 110px;
  }

  .searchInput {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: none;
    border-bottom: none;
    border-right: none;
    margin-left: 40px;
  }

  .searchLabel {
    height: auto;
    font-size: calc(0.5rem + 1vw);
    border-right: none;
  }

  .searchButtons button {
    font-size: calc(0.75rem + 1vw);
  }

  .dropDownButtonContainer {
    height: auto;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    font-size: 0.75rem;
  }

  .dropDownSvg {
    width: 20px;
    transition: all 400ms;
  }

  .rotateUp {
    transform: rotate(180deg);
    transition: all 400ms;
  }

  .hideCategory {
    height: 0;
    padding: 0 20px;
    border: none;
    overflow: hidden;
    transition: all 400ms;
  }

  .previewImg {
    width: calc(20% - 6px);
    aspect-ratio: 1.5 / 1;
  }

  .previewText {
    font-size: 0.75rem;
    width: calc(40% - 7px);
  }

  .previewInfo {
    width: calc(40% - 7px);
  }

  .previewRow {
    gap: 10px;
  }

  .yearButtons button {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 600px) {
  .inputsContainer {
    padding-top: 100px;
  }
}

@media screen and (min-width: 1305px) {
  .searchButtons {
    justify-content: space-between;
  }
}
