.inputsContainer {
  background: #000;
  color: #fff;
  padding-top: 50px;
  font-family: "trade-gothic-ext", sans-serif;
  text-transform: uppercase;
}

.searchLabel {
  display: flex;
  height: 80px;
  align-items: center;
  font-size: calc(1rem + 1vw);
  border: 1px solid #fff;
  border-left: none;
  padding-left: 20px;
}

.searchInput {
  height: 80px;
  font-size: calc(0.5rem + 1vw);
  margin-left: 80px;
  flex-grow: 1;
  border: 1px solid #fff;
  border-right: none;
  padding-left: 20px;
  background: #000;
  color: #fff;
  text-transform: uppercase;
}

.searchButtons {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  border-bottom: 1px solid #fff;
}

.searchButtons button {
  color: transparent;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 1px;
  font-size: calc(1rem + 1vw);
  font-family: "trade-gothic-ext", sans-serif;
  transition: all 400ms;
}

.searchButtons button:hover {
  color: #fff;
  opacity: 1;
  transition: all 400ms;
}

.previewRow {
  display: flex;
  padding: 20px;
  border-bottom: 1px solid #fff;
  flex-wrap: wrap;
  gap: 20px;
}

.previewImg {
  width: 30%;
  aspect-ratio: 1.5 / 1;
}

.previewText {
  font-size: 0.75rem;
  width: 45%;
}

.previewInfo p {
 margin-bottom: 20px;
}

.viewBtn {
 border: 1px solid #fff;
 border-radius: 400px;
 display: inline-block;
 padding: 8px 35px;
 font-size: 0.75rem;
 transition: all 400ms;
}

.viewBtn:hover {
 opacity: 1;
 background: #fff;
 color: #000;
}

.active {
 color: #fff !important;
}
