.previewContainer {
  scroll-behavior: smooth;
}

.onMindBanner {
  text-align: center;
  font-size: 22vw;
}

.fixed {
  position: fixed;
  top: 50px;
  left: 0;
  animation: 1s forwards borderFade;
}

.fixedDiv {
  position: fixed;
  height: 50px;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  animation: 1s forwards fadeBackground;
}

.relative {
  position: relative;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  gap: 10px;
  width: 100%;
  z-index: 10;
}

.buttonContainer button {
  font-family: inherit;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
}

@keyframes borderFade {
  from {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    border-top: 1px solid rgba(0, 0, 0, 0);
    background: rgba(255, 255, 255, 0);
  }
  to {
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    border-top: 1px solid rgba(0, 0, 0, 1);
    background: rgba(255, 255, 255, 1);
  }
}

@keyframes fadeBackground {
  from {
    background: rgba(255, 255, 255, 0);
  }
  to {
    background: rgba(255, 255, 255, 1);
  }
}

.extraPadding {
  margin-top: 60px;
}

.previewContainer {
  padding: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.previewContainer article {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  gap: 20px;
  z-index: 1;
}

.previewImg {
  z-index: 1;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
}

.previewContainer article:nth-of-type(7n + 1),
.previewContainer article:nth-of-type(7n + 3),
.previewContainer article:nth-of-type(7n + 6),
.previewContainer article:nth-of-type(7n + 7) {
  grid-column: span 2;
  grid-row: span 3;
  border: 1px solid #5c5b5b;
}

.previewContainer article:nth-of-type(7n + 1) .background,
.previewContainer article:nth-of-type(7n + 3) .background,
.previewContainer article:nth-of-type(7n + 6) .background,
.previewContainer article:nth-of-type(7n + 7) .background {
  display: none;
}

.previewContainer article:nth-of-type(7n + 2),
.previewContainer article:nth-of-type(7n + 4) {
  grid-column: span 2;
  grid-row: span 1;
  border: 1px solid #5c5b5b;
}

.previewContainer article:nth-of-type(7n + 2) .previewImg,
.previewContainer article:nth-of-type(7n + 4) .previewImg,
.previewContainer article:nth-of-type(7n + 5) .previewImg,
.previewContainer article:nth-of-type(7n + 2) .excerpt,
.previewContainer article:nth-of-type(7n + 4) .excerpt,
.previewContainer article:nth-of-type(7n + 5) .excerpt {
  display: none;
}

.previewContainer article:nth-of-type(7n + 5) {
  grid-column: span 4;
}

.previewContainer article:nth-of-type(7n + 1) h2,
.previewContainer article:nth-of-type(7n + 3) h2,
.previewContainer article:nth-of-type(7n + 6) h2,
.previewContainer article:nth-of-type(7n + 7) h2 {
  font-weight: normal;
  font-style: italic;
  padding: 20px;
  font-size: calc(1rem + 2vw);
  line-height: 1.2;
}

.previewContainer article:nth-of-type(7n + 1) .credit,
.previewContainer article:nth-of-type(7n + 3) .credit,
.previewContainer article:nth-of-type(7n + 6) .credit,
.previewContainer article:nth-of-type(7n + 7) .credit {
  display: none;
}

.date {
  font-family: "trade-gothic-next", sans-serif;
  text-transform: uppercase;
  padding-top: 20px;
}

.creditTagContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tagContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  flex-wrap: wrap;
  min-width: 50%;
}

.previewContainer article:nth-of-type(7n + 5) .tagContainer{
  justify-content: flex-start;
}

.credit {
  font-family: "trade-gothic-next", sans-serif;
  font-weight: bold;
}

.previewContainer article:nth-of-type(7n + 2) h2 {
  font-family: "trade-gothic-next", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
}

.previewContainer article:nth-of-type(7n + 4) h2 {
  font-style: italic;
  font-weight: normal;
  line-height: 1.2;
  padding-left: 30px;
  padding-right: 30px;
}

.previewContainer article:nth-of-type(7n + 5) h2 {
  font-style: italic;
  font-weight: normal;
  line-height: 1.2;
  padding-left: 30px;
  padding-right: 30px;
  font-size: calc(1rem + 6vw);
}

.previewContainer article:nth-of-type(7n + 5) .creditTagContainer {
  flex-direction: row-reverse;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px;
}

.loadMore {
  display: flex;
  justify-content: center;
}

.loadMoreBtn {
  font-weight: 800;
  font-size: 12vw;
  color: transparent;
  font-family: "freight-text-pro", serif;
  text-transform: uppercase;
  font-style: italic;
  -webkit-text-stroke-color: #000;
  -webkit-text-stroke-width: 1px;
  transition: all 400ms;
}

.loadMoreBtn:hover {
  color: #000;
  opacity: 1;
  transition: all 400ms;
}

.hoverUnderline {
  position: relative;
}

.hoverUnderline:after {
  content: "";
  position: absolute;
  width: 100%;
  text-align: center;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform-origin: bottom right;
  transition: transform 400ms ease-out;
}

.hoverUnderline:hover:after {
  cursor: pointer;
  transform: scaleX(1);
  transform-origin: bottom left;
}

.active {
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  width: 100%;
  text-align: center;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
}

@media screen and (max-width: 920px) {
  .onMindBanner {
    padding-top: 100px;
  }

  .fixed {
    top: 100px;
  }

  .fixedDiv {
    top: 50px;
  }

  .previewContainer article {
    grid-column: span 4 !important;
  }

  .previewContainer article:nth-of-type(7n + 5) .creditTagContainer {
    padding-right: 0px;
  }

  .tagContainer {
    padding: 20px 0px;
  }
}

@media screen and (max-width: 400px) {
  .buttonContainer button {
    font-size: 0.75rem;
  }
}
