.fixedSection {
  padding: 20px;
  font-family: "freight-text-pro", serif;
}

.title {
  font-weight: normal;
  font-size: calc(1rem + 5vw);
  font-style: italic;
  line-height: 1.2;
}

.heading {
  margin-bottom: 40px;
}

.exhibitInfo {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 5%;
}

.exhibitDetails {
  display: flex;
  flex-direction: column;
  width: 20%;
  font-family: "trade-gothic-next", serif;
}

.exhibitDetails article {
  padding-bottom: 30px;
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.linksContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
  font-size: 1rem;
}

.exhibitCopy {
  width: 50%;
}

.exhibitCopy h3,
.exhibitCopy h2,
.exhibitCopy h1,
.exhibitCopy p {
  margin-bottom: 20px;
}

.exhibitCopy h1,
.exhibitCopy h2 {
  font-size: calc(1rem + 0.5vw);
}

.exhibitCopy a {
  text-decoration: underline;
}

.date {
  margin-bottom: 20px;
}

.credits p {
  padding-top: 10px;
}

@media screen and (max-width: 920px) {
  .fixedSection {
    padding: 0px;
  }

  .heading {
    padding: 20px;
  }

  .exhibitInfo {
    display: flex;
    flex-direction: column;
  }

  .exhibitDetails {
    width: 100%;
    position: relative;
    margin-top: 10px;
    border-top: 1px solid #000;
    padding-top: 10px;
  }

  .tagContainer {
    position: absolute;
    margin-top: -50px;
    margin-left: 20px;
  }

  .exhibitCopy {
    width: 100%;
    padding: 20px;
  }

  .linksContainer {
    display: flex;
    flex-direction: row;
    gap: 0;
  }

  .creditsLabel,
  .credits {
    padding: 0 10px;
  }

  .credits {
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
  }
}
