.heroContainer {
  display: flex;
  width: 100%;
  padding: 80px 20px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.videoTile {
  width: calc(25% - 10px);
  margin-bottom: 50px;
}

.videoLink {
  display: block;
}

.videoInfo {
  margin-bottom: 10px;
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.videoLinks {
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
  gap: 10px;
}

.series {
  font-weight: bold;
  font-size: 0.5rem;
  text-align: right;
}

@media screen and (max-width: 1200px) {
  .videoTile {
    width: calc(33% - 10px);
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 900px) {
  .heroContainer {
    padding-top: 120px;
  }

  .videoTile {
    width: calc(50% - 10px);
  }

  .videoLinks {
    margin: 10px 0;
  }
}
