.heroContainer {
  padding-top: 50px;
  width: 100vw;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.oneThird {
  width: 33.33%;
  aspect-ratio: 4 / 5;
}

.full {
  width: 100%;
  aspect-ratio: 16 / 9;
}
