.searchContainer {
  padding-top: 80px;
}

.searchBox {
  position: fixed;
  z-index: 1000;
  top: 0;
  border: 1px solid #000;
  width: calc(100% - 800px);
  min-width: 350px;
  height: 50px;
  margin-left: 400px;
  margin-bottom: 40px;
}

.searchForm {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-right: 20px;
  background: #fff;
}

.searchInput {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
}

.searchInput:focus {
  outline: #000 solid 1px;
}

.paginationContainer {
  padding: 20px;
  border-top: 1px solid #000;
}

.paginationList {
  list-style: none;
  display: flex;
  gap: 15px;
  width: 100%;
  justify-content: center;
}

.paginationItem {
  font-weight: 800;
  font-size: 3rem;
  color: transparent;
  -webkit-text-stroke-color: #000;
  -webkit-text-stroke-width: 1px;
}

.selected,
.arrow {
  color: #000;
}

.disabled {
  color: #707070;
  -webkit-text-stroke-color: #707070;
}

.noContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.noResult {
  padding: 20px;
}

.searchReset {
  display: none;
}

@media screen and (max-width: 920px) {
  .searchContainer {
    padding-top: 98px;
  }

  .searchBox {
    height: 50px;
    margin-bottom: 0;
    top: 49px;
    width: 100%;
    margin-left: 0;
  }

  .searchForm {
    position: relative;
    z-index: 1000;
    width: 75%;
    margin-left: 25%;
    border-left: 1px solid #000;
    height: 100%;
  }
}
