.image {
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute !important;
}

.productContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex !important;
  flex-direction: column;
  padding: 3vw;
  justify-content: center;
  align-items: flex-start;
}

.eventLink:hover .productInfo span {
  background: #fff;
  color: #000;
  transition: 400ms;
}

.eventLink:hover {
  opacity: 1;
}

.tileOverlay {
  z-index: 25;
}

.productInfo {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
}

.productInfo p {
  font-size: calc(1rem + 0.5vw);
}

.newTag {
  font-size: 0.85rem;
  padding-bottom: 5px;
}

.productInfo span {
  background: #000;
  padding-left: 10px;
  padding-right: 10px;
  transition: 400ms;
}

.cursor {
  position: fixed;
  height: 20px;
  width: 60px;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
}

.carouselContainer {
  cursor: none;
}

.dotsContainer {
  position: absolute;
  height: 20px;
  bottom: 40px;
  right: 20px;
}

.dots {
  height: clamp(10px, 2vw, 20px);
  width: clamp(10px, 2vw, 20px);
  background: #fff;
  border: 1px solid #000;
  border-radius: 100%;
}

:global(.slick-active) .dots {
  background: #000;
  border: 1px solid #fff;
}

@media screen and (max-width: 920px) {
  .carouselContainer {
    cursor: initial;
  }
}
