.pageContainer {
  display: flex;
  padding-top: 50px;
  padding-bottom: 40px;
  flex-wrap: wrap;
}

.container {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  border: 1px solid #000;
  margin: 20px;
  padding: 20px;
  width: calc(33.3% - 40px);
  text-align: center;
}

.container h3 {
  text-transform: uppercase;
  margin-top: 40px;
}

.linkButton {
  display: flex;
  padding: 5px 10px;
  border: solid 1px #000;
  justify-content: center;
  align-items: center;
  font-size: inherit;
  min-width: 50%;
}

.linkButton:hover {
  opacity: 1;
  color: #fff;
  background: #000;
}

.heading0 {
 font-weight: 800;
}

.heading1 {
 font-weight: 800;
 font-style: italic;
}

.heading3 {
 font-weight: 700;
}

.heading4 {
 font-family: "freight-text-pro", serif;
 font-style: italic;
}

.heading5 {
 font-weight: 700;
 font-style: italic;
}


@media screen and (max-width: 920px) {
  .pageContainer {
    padding-top: 20px;
    margin-top: 100px;
    border-top: 1px solid #000;
  }

  .container {
    width: calc(100% - 40px);
  }

  .linkButton {
    padding: 5px 20px;
  }
}
