.textContainer {
  padding: 20px;
  width: 75%;
}

.textContainer a {
  text-decoration: underline;
}

.textContainer p {
  margin-bottom: 20px;
}

@media screen and (max-width: 920px) {
  .textContainer {
    width: 100%;
  }
}
