.imgContainer {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.imgContainer figcaption {
  padding-left: 0;
  font-family: "trade-gothic-next", sans-serif;
}

@media screen and (max-width: 920px) {
  .imgContainer {
    padding: 20px 0;
    gap: 10px;
    margin-bottom: 40px;
  }

  .imgContainer figcaption {
  padding-left: 10px;
  margin-top: 0px;
}
}
