.container {
  margin: 20px;
  margin-top: 0;
  border: solid 1px #707070;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h2 {
  font-size: calc(1rem + 1.5vw);
  margin-bottom: 40px;
  text-transform: uppercase;
}

.container p {
  font-size: calc(1rem + 0.5vw);
  text-align: center;
}

@media screen and (max-width: 720px) {
  .container {
    align-items: flex-start;
    margin: 0;
    padding: 20px;
    border: solid 1px #000;
    border-top: none;
    border-bottom: none;
  }

  .container h2 {
    margin-bottom: 20px;
  }

  .container p {
    text-align: left;
    font-size: 1rem;
  }
}
