.link {
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: calc(50% - 30px);
  aspect-ratio: 2 / 1;
  font-size: calc(1rem + 1.5vw);
  text-transform: uppercase;
  border: solid 1px #707070;
  transition: all 400ms;
  text-align: center;
}

.link:hover {
  opacity: 1;
  background: #000;
  color: #fff;
  transition: all 400ms;
}

@media screen and (max-width: 720px) {
  .link {
    width: 50%;
    margin: 0;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    border-left: none;
    border-right: none;
  }

  .link:first-of-type {
    border-right: 1px solid #000;
  }
}
